@import "tailwindcss";

* {
    box-sizing: border-box;
}

html, body {
    background-color: #eaeaea;
}

body {
    max-width: 1024px;
    margin: auto;
}

.column {
    box-shadow: 5px 8px 18px #ccc;
}